.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #e74d4d; /* ajuste depois */
}

.object {
  position: absolute;
  max-width: 300px;
}

.portrait {
  left: 8%;
  top: 7%;
  width: 180px;
}

.bookshelf {
  left: 8%;
  top: 50%;
  width: 260px;
}

.phone {
  right: 10%;
  top: 7%;
  width: 160px;
}

.filecabinet {
  right: 10%;
  top: 50%;
  width: 240px;
}

.object {
  outline: 2px dashed rgba(255,255,255,0.2);
  width: clamp(120px, 20vw, 280px);
}